/* assets/css/mapa.css */
#map {
    width: 100%;
    height: 300px;
    /* Altura fija para dentro de la tarjeta */
    border-radius: 12px;
    z-index: 1;
    margin-bottom: 24px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}